.grid {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  position: relative;
}

.grid2{
  grid-template-columns: repeat(2, 1fr);
}

.grid3{
  grid-template-columns: repeat(3, 1fr);
}

.grid4{
  grid-template-columns: repeat(4, 1fr);
}

.grid5{
  grid-template-columns: repeat(5, 1fr);
}

.grid121{
  grid-template-columns: 1fr 2fr 1fr;
}

.grid141{
  grid-template-columns: 1fr 4fr 1fr;
}

.grid161{
  grid-template-columns: 1fr 6fr 1fr;
}

.grid181{
  grid-template-columns: 1fr 8fr 1fr;
}

.grid21{
  grid-template-columns: 2fr 1fr;
}

.grid12{
  grid-template-columns: 1fr 2fr;
}


@media (max-width: 850px) {
  .grid2,
  .grid3,
  .grid21,
  .grid12,
  .grid13,
  .grid141,
  .grid161,
  .grid181,
  .grid4,
  .grid5 {
    grid-template-columns: repeat(1, 1fr);
  }
  .grid4{
    grid-template-columns: repeat(2, 1fr);
  }
  .grid2.force {
    grid-template-columns: repeat(2, 1fr);
  }
  .grid21.force {
    grid-template-columns: 2fr 1fr;
  }
  .grid12.force {
    grid-template-columns: 1fr 2fr;
  }
  .grid141.force {
    grid-template-columns: 1fr 4fr 1fr;
  }
  .grid161.force {
    grid-template-columns: 1fr 6fr 1fr;
  }
  .grid181.force {
    grid-template-columns: 1fr 8fr 1fr;
  }
}
