.grid {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  position: relative;
}

.grid2{
  grid-template-columns: repeat(2, 1fr);
}

.grid3{
  grid-template-columns: repeat(3, 1fr);
}

.grid5{
  grid-template-columns: repeat(5, 1fr);
}

.grid121{
  grid-template-columns: 1fr 2fr 1fr;
}


@media (max-width: 850px) {
  .grid2,
  .grid3,
  .grid5 {
    grid-template-columns: repeat(1, 1fr);
  }
  .grid2.force {
    grid-template-columns: repeat(2, 1fr);
  }
}
